<p>Please state the priority you want for your city to live</p>

<%= form_for @city , :url => choice_check_path, :method => "get" do |f|  %>

  <%= f.label :enviornment %>:
  <%= f.number_field :enviornment %><br />

  <%= f.label :costs %>:
  <%= f.number_field :costs %><br />

  <%= f.label :education %>:
  <%= f.number_field :education %><br />

  <%= f.label :security %>:
  <%= f.number_field :security %><br />
  

  <%= f.label :transportation %>:
  <%= f.number_field :transportation %><br />



  <%= f.submit value="kaki" %>
<% end %>

<input type="button" value="Calculate">

<%= link_to "View All Cities", cities_path %>
