<p>Please state the priority you want for your city to live</p>

<%= form_for @city do |f| %>
  Environment<%= f.number_field :enviornment %><br />
  Costs<%= f.number_field :costs %><br />
  <%= f.submit %>
<% end %>

<input type="button" value="Calculate">

<%= link_to "View All Cities", cities_path %>
