<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h1>Here are the results of your last choices</h1>

<% @draws.each do |draw| %>

  <div class = "draw">

    <div class="choiceparams">
      <label> Costs <%= draw['choice'].costs%> 
      <label> Education <%= draw['choice'].education %> 
      <label> Environment <%= draw['choice'].enviornment %> 
      <label> Secutiry <%= draw['choice'].security %> 
      <label> Transportation <%= draw['choice'].transportation %> 
    </div>

    <div class ="charts">
        <%= column_chart draw['grades_charts'],  :width => "300px" ,:height => "300px" %>
    </div>

  </div>

<% end %>

