<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<%= render "check" %>

<h1>Here are the results of your last choices</h1>
<input class="filterInteresting" type="checkbox"> Show Only interesting choices

<% @draws.each do |draw| %>

  <div class = "draw">


    <div class="choiceparams">
      <ul>
        <li>
          <label> Costs <%= draw['choice'].costs%> 
        </li>
        <li>
          <label> Education <%= draw['choice'].education %> 
        </li>
        <li>
          <label> Environment <%= draw['choice'].enviornment %> 
        </li>
        <li>
          <label> Secutiry <%= draw['choice'].security %> 
        </li>
        <li>
          <label> Transportation <%= draw['choice'].transportation %> 
        </li>
      </ul>
      <input class="interesting" type="checkbox" value="bla"> 
      <label id="interestinglabel" > Looks interesting </label> 
    </div>


    <div class ="charts">
        <%= column_chart draw['grades_charts'] %>
    </div>

  </div>

<% end %>

