<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h1>Here are the results of your choice</h1>



<% @choice.each do |choice| %>
  <label><%= choice %> 
  </br>
<% end %>

<table>
  <tr>
    <th>City name</th>
    <th>Weighted Grade</th>
  </tr>

<% @grades.each do |city_grade| %>
  <tr>
    <td><%= city_grade[0].name %></td>
    <td><%= city_grade[1] %></td>
    <td><%= link_to 'Show City', city_grade[0] %></td>
  </tr>
<% end %>
</table>

<br />

<%= column_chart @grades_charts %>
<%= pie_chart @grades_charts %>
