<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h1>Here are the results of your last choices</h1>

<div class="choiceparams">
<% @draws.each do |draw| %>
  <label> Costs <%= draw['choice'].costs%> 
  </br>
  <label> Education <%= draw['choice'].education %> 
  </br>
  <label> Environment <%= draw['choice'].enviornment %> 
  </br>
  <label> Secutiry <%= draw['choice'].security %> 
  </br>
  <label> Transportation <%= draw['choice'].transportation %> 
  </br>
</div>


<br />
<div class ="charts">
  <label> this are the charts
<%= column_chart draw['grades_charts'] %>
</div>

<% end %>

