<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @city.name %>
</p>

<p>
  <b>Transportation:</b>
  <%= @city.transportation %>
</p>

<p>
  <b>Education:</b>
  <%= @city.education %>
</p>

<p>
  <b>Costs:</b>
  <%= @city.costs %>
</p>

<p>
  <b>Security:</b>
  <%= @city.security %>
</p>

<p>
  <b>Environment:</b>
  <%= @city.enviornment %>
</p>


<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>

<div class ="charts">
  <label> this are the charts
    <%= pie_chart @chart_dict %>
</div>
