<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @city.name %>
</p>

<p>
  <b>Transportation:</b>
  <%= @city.transportation %>
</p>

<p>
  <b>Education:</b>
  <%= @city.education %>
</p>

<p>
  <b>Costs:</b>
  <%= @city.costs %>
</p>

<p>
  <b>Security:</b>
  <%= @city.security %>
</p>

<p>
  <b>Pollution:</b>
  <%= @city.pollution %>
</p>


<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
